.button {
  height: 28px !important;
  padding: 0px 14px !important;
}

.descrightalign {
  text-align: right !important;
}

.ant-descriptions-bordered .ant-descriptions-item-label,
.ant-descriptions-bordered .ant-descriptions-item-content {
//   padding: 13px 8px !important;
  text-align: right;
}

.desitem {
    // padding: 13px 8px !important;
    text-align: left !important;
  }
