.tableproduct {
  thead {
    th {
      border-bottom: 1px solid white;
      outline: none !important;
      &:focus {
        background: white !important;
      }
    }
  }
  td,
  th {
    border-color: white;
    &:focus {
      background-color: white;
    }
  }
  tbody {
    tr:first-child {
      td {
        border-top: none;
      }
    }
  }
  &.table-hover {
    tbody {
      tr {
        &:hover {
          background: black;
        }
      }
    }
  }
  tr.active,
  th.active {
    background: black;
  }
  .thead-inverse {
    th {
      background: black;
    }
  }
  .thead-default {
    th {
      background: black;
    }
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background: #f2f4f8;
    }
  }

  &.table-vertical-middle {
    td,
    th {
      vertical-align: middle;
    }
  }
}

.rowproduct {
  background-color: rgb(235, 235, 245);
  // background-color: #eaedf5;
  border: 1px solid black !important;
  //   color: black !important;
}
.rowproduct:hover {
  background-color: #e2e3e5 !important;
}
.rowproduct:active {
  background-color: #e2e3e5 !important;
}

.cardstatus {
  height: 264px;
}

.ant-table-expanded-row {
  background-color: rgb(241, 241, 250) !important;
  // background-color: rgb(208, 215, 226) !important;
}

.card1 {
  background-color: #dbdcdd;
  text-align: left !important;
  max-width: 263px;
  overflow: auto;
  height: 264px;
  max-height: 264px;
}

.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0 0 !important;
}

// .ant-modal-mask{
//   background: transparent !important
// }

// .carddiv {
//   background-color: rgb(235, 235, 245) !important;
// }

.ant-descriptions-bordered .ant-descriptions-item-label,
.ant-descriptions-bordered .ant-descriptions-item-content {
  padding: 13px 8px !important;
  text-align: right;
}

.ant-btn {
  height: 23px !important;
  padding: 0px 7px !important;
}

.button {
  height: 28px !important;
  padding: 0px 14px !important;
}

.errorinput {
  border-color: #856567 !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 2px #d8262f !important;
  box-shadow: 0 0 0 2px #d8262f !important;
}

.desitem {
  padding: 13px 8px !important;
  text-align: left !important;
}

.ant-table-row-expand-icon-cell {
  position: relative;

  .ant-table-row-collapsed:after {
    content: '>';
    font-family: 'anticon' !important;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    font-size: 16px;
    right: 16px;
    top: 0;
    display: inline-block;
    transform: scale(0.66666667) rotate(0deg);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
  }
  .ant-table-row-expanded:after {
    content: '>';
    font-family: 'anticon' !important;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    font-size: 16px;
    right: 16px;
    top: 0;
    display: inline-block;
    transform: rotate(90deg) scale(0.75);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
  }
}

.closeicon {
  font-size: 20px;
  float: right;
  height: 32px !important
}
